{% extends 'base.html' %}
{% block content %}

      <div class="row col-12">
              {% for t in data %}
              <div class="card" style="width: 18rem;">
                {% if t.image != NULL %}
                <img style="margin-left: 2%;"width="250px" height="250px" src="/media/{{t.image}}" >
                {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{t.name}}</h5>
                    
                    <p style="text-overflow: ellipsis  white-space: nowrap;

                    width: 15em; height: 13em;"  class="card-text">{{t.description}}</p>
                    {% comment %} <p class="card-text">{{t.description}}</p> {% endcomment %}
                    <a href="/listofsupplier/{{t.name}}" class="btn btn-primary">View Suppliers</a>
                  </div>
                </div>
              {% endfor %}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}  